/* =========================
   FULL WIDTH BANNER
========================= */

.banner{
    width:100%;
    margin:0 auto 25px;
    padding:0;
}


/* Banner Box */

.banner a{
    display:block;
    width:100%;
    overflow:hidden;
    background:#fff;
    text-decoration:none;

    border-radius:0;
}


/* Full Image */

.banner img{
    width:100%;
    height:auto;
    display:block;
    object-fit:contain;
}


/* Mobile */

@media(max-width:768px){

.banner{
    width:100%;
    padding:0;
}

.banner img{
    width:100%;
    height:auto;
}

}